.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    background-color: sandybrown;
}

.box {
    display: none;
}

@media (min-width: 620px) {
    .wrapper {
        padding: 2rem;
        height: auto;
        background-color: salmon;
        border: solid 5px black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box {
        display: block;
        padding: 2rem;
        background-color: #fff;
        border: solid 5px black;
        order: -1;
    }
}

@media (min-width: 920px) {
    .wrapper {
        background-color: olive;
    }

    .box {
        background-color: yellow;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: aqua;
    }
}
